body {
	/* margin-top: 5rem; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444444;
}

ul {
	margin: 0;
}

.bg-steel {
	background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.article-title {
	color: #444444;
}

a.article-title:hover {
	color: #428bca;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

body {
	background-color: #81bfe7;
	overflow-y: scroll;
	overflow-x: hidden;
}

.dimDiv {
	left: 45vw;
	padding: 10px;
}

.num {
	position: relative;
	left: 60vw;
	display: inline;
}

.value {
	position: relative;
	left: 70vw;
	display: inline;
}

#importanceTable {
	position: absolute;
	right: 5vw;
	bottom: 0;
	display: none;
}
#hqrTable{
	position: absolute;
	right: 20vw;
	bottom: 10vh;
	display: none;
	z-index:10000000;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-image: linear-gradient(123deg, #072567, #6dcca3);
  background-repeat: no-repeat;
  /* background-size: 100vw 200vh; */
  height: 100%;
  background-attachment: fixed;
  font-family: "Roboto", helvetica, arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-rendering: optimizeLegibility !important;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


#frm{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#frm>div{
    display: flex;
    flex-direction: row;
}

#matrix{
	display: flex;
	flex-direction:column;
}





 a{
	text-decoration: none;
	color: rgb(250, 232, 232);
  }
  .special {
	text-transform: uppercase;
	position: relative;
	padding: 15px;
	margin-left: 2vw;
	-webkit-transition: background 0.3s ease-in 0.2s;
	cursor: pointer;
  }
  .special:after,
  .special:before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #c8a755;
	-webkit-transition: all 0.3s ease-out;
  }
  .special:before {
	opacity: 0;
	bottom: 50%;
  }
  .special:hover {
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: background 0.3s ease-in 0.2s;
  }
  .special:hover:before {
	bottom: 100%;
	opacity: 1;
  }

  .matrixFunctionsBtns
  {
	  margin-top: 2vh;
	  margin-bottom: 4vh;
  }


  /* ----------------------------------Tracker CSS---------------------------------- */

  .billing__main__content__step {
	border: 1px solid #d8e0ea;
	border-radius: 3px;
	padding: 40px 16px;
  }
  .billing__main__content__step ul {
	padding: 0;
	margin: 0;
  }
  .billing__main__content__step ul li {
	list-style-type: none;
	color: #a1a7b1;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 64px;
	width: 100%;
	cursor: pointer;
  }
  .billing__main__content__step ul li a {
	display: flex;
	align-items: center;
  }
  .billing__main__content__step ul li a span {
	margin-right: 12px;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .billing__main__content__step ul li a span i {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	background-color: #d8e0ea;
	color: white;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	width: 32px;
	height: 32px;
	border-radius: 100%;
  }
  .billing__main__content__step ul li a span:before {
	content: '';
	width: 2px;
	height: 16px;
	background-color: #d8e0ea;
	position: absolute;
	top: -12px;
	left: 19px;
  }
  .billing__main__content__step ul li a span:after {
	content: '';
	width: 2px;
	height: 16px;
	background-color: #d8e0ea;
	position: absolute;
	bottom: -12px;
	left: 19px;
  }
  .billing__main__content__step ul li a p {
	margin-bottom: 0px;
  }
  .billing__main__content__step ul li a label {
	max-width: calc(100% - 52px);
  }
  .billing__main__content__step ul li a .sub {
	display: none;
  }
  .billing__main__content__step ul li a.selected p {
	font-weight: bold;
  }
  .billing__main__content__step ul li a.selected .sub {
	display: block;
	font-weight: normal;
	float: left;
	width: 100%;
	font-style: normal;
  }
  .billing__main__content__step ul li:first-child span:before {
	content: '';
	display: none;
  }
  .billing__main__content__step ul li:last-child span:after {
	content: '';
	display: none;
  }
  .billing__main__content__step ul li.active {
	color: #435064;
	font-weight: bold;
  }
  .billing__main__content__step ul li.active span {
	border: 1px solid #4F89E5;
	background-color: white;
  }
  .billing__main__content__step ul li.active span i {
	background-color: #4F89E5;
  }
  .billing__main__content__step ul li.active span:before {
	background-color: #4F89E5;
	bottom: -17px;
	top: -17px;
	left: 18px;
  }
  .billing__main__content__step ul li.active span:after {
	background-color: #4F89E5;
	bottom: -17px;
	left: 18px;
  }
  .billing__main__content__step ul li .done-icon {
	display: none;
  }
  .billing__main__content__step ul li.done span {
	border-color: white;
  }
  .billing__main__content__step ul li.done span:after {
	bottom: -13px;
  }
  .billing__main__content__step ul li.done span:before {
	top: -13px;
  }
  .billing__main__content__step ul li.done span.default {
	display: none;
  }
  .billing__main__content__step ul li.done span.done-icon {
	display: flex;
  }
  .billing__main__content__step ul li.warning {
	user-select: none;
  }
  .billing__main__content__step ul li.warning span i {
	background-color: #F6EAE8;
	color: #FF1000;
  }
  .billing__main__content__step ul li.warning label {
	border-radius: 3px;
	background-color: #F6EAE8;
	padding: 8px;
	color: #FF1000;
	font-size: 14px;
	line-height: 20px;
  }
  
  @media only screen and (max-width: 991px) {
	.billing__main__content__step {
	  padding: 4px;
	}
	.billing__main__content__step ul {
	  display: flex;
	  justify-content: space-between;
	}
	.billing__main__content__step ul li {
	  display: flex;
	  width: auto;
	  flex-grow: 1;
	  justify-content: center;
	  position: relative;
	}
	.billing__main__content__step ul li p {
	  display: none;
	}
	.billing__main__content__step ul li.warning {
	  display: none;
	}
	.billing__main__content__step ul li span:before {
	  display: none;
	}
	.billing__main__content__step ul li span:after {
	  display: none;
	}
	.billing__main__content__step ul li:before {
	  content: '';
	  position: absolute;
	  width: 50%;
	  height: 2px;
	  background-color: #d8e0ea;
	  right: 0;
	}
	.billing__main__content__step ul li:after {
	  content: '';
	  position: absolute;
	  width: 50%;
	  height: 2px;
	  background-color: #d8e0ea;
	  left: -20px;
	}
	.billing__main__content__step ul li:first-child:after {
	  display: none;
	}
	.billing__main__content__step ul li:last-child:before {
	  display: none;
	}
	.billing__main__content__step ul li.done:before {
	  background-color: #4F89E5;
	}
	.billing__main__content__step ul li.done:after {
	  background-color: #4F89E5;
	}
  }
  

  .functionBtn
  {
	  display: none;	
  }


  /* ---------------------------------------------- Loader Css --------------------------------------*/
  .ball {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.5);
  }

  #loader
  {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100vw;
	  height: 100vh;
	  z-index: 1000000000000000000000;
	  background-color: black;
	  display: none;
  }
  /* ---------------------------------------------- Loader Css Ends--------------------------------------*/

  input[type="text"],input[type="number"] {
	width: 100%;
	border: 2px solid #aaa;
	border-radius: 4px;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
	color: black;
  }
  
  input[type="text"]:focus,input[type="number"]:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
  }

  .functionalityLinks,#paramDiv,#dimensionsBtn{
	  color: white !important;
  }

  #dimensionsValue{
	  width: auto !important;
  }

  .special{
	  color: white !important;
  }

  a:hover{
	color: white !important;
}

  .submitDimDiv{
	  color: white;
	  margin-top: 2vh;
  }

  /*----------------------------------------------- Image Popup CSS -----------------------------------------*/
  .thumbnail{
	position: absolute;
    top: 60vh;
    left: 40vw;
	}
	
	.thumbnail:hover{
		background-color: transparent;
		z-index: 50;
	}

	.thumbnail img:hover{
		transform: scale(2);
	}
/*========================================Image Popup ends============================================*/

/*========================================Leaflet CSS============================================*/
#map {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101010;
	display: none;
  }


/* body{
    top: 10vh;
    position: absolute;
    left: 0;
} */

.dates
{
	color: whitesmoke
}
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#consistencyValueDiv
{
	position: absolute;
	top: 60vh;
	left: 60vw;
	font-size:3vh;
}

.dimensions{
	width: auto !important;
}


/* =====================================================myModal CSS=========================================== */
/**
 * myModals ($myModals)
 */

/* 1. Ensure this sits above everything when visible */
.myModal {
    position: absolute;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.myModal.is-visible {
    visibility: visible;
}

.myModal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.myModal.is-visible .myModal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.myModal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 1vh;
  left: 50%;
  width: 32em;
  margin-left: -16em;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.myModal-transition {
  transition: all 0.3s 0.12s;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  opacity: 0;
}

.myModal.is-visible .myModal-transition {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.myModal-header,
.myModal-content {
  padding: 1em;
}

.myModal-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
  border-bottom: 1px solid #e8e8e8;
}

.myModal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #aaa;
  background: none;
  border: 0;
}

.myModal-close:hover {
  color: #777;
}

.myModal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.myModal-content > *:first-child {
  margin-top: 0;
}

.myModal-content > *:last-child {
  margin-bottom: 0;
}
.rangeInput{
	width: auto !important;
}
.rangeInputBox{
	margin-left: 3vw;
}

#submitRanges{
	left: 45%;
    position: relative;
    background-color: black;
    color: white;
}
.headings{
	background-color: black;
    color: white !important;
}