{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script>
  /**
  * This function is used to display all tables entered by user previously
  * 
  * dimNum - number of dimensions in table
  * dimString - all dimensions separated by $
  * entries - entries in matrix separated by ' '
  * uploadDate - date of matrix upload (in UTC format)
  * 
  */
    function makeTable(dimNum,dimString,entry,uploadDate) 
    {
        let dimensions = dimString.split('$');
        let entries = entry.split(' ');
        let rows = Number(dimNum) + 1;
        let columns = Number(dimNum) + 1;
        let form = document.createElement("form");  //for each matrix , there is a new form

        for (let i = 0; i < rows; i++) 
        {
            for (let j = 0; j < columns; j++) 
            {
                if (i == 0 && j == 0)   //matrix[0][0] = "class"
                {
                    var input = $('<input>').attr({ class: 'matrix_cell', id: i + '' + j, value: 'Class'});
                    input[0].readOnly = true;
                    form.appendChild(input[0]);
                    continue;
                }

                if (i == 0 && j != 0)   //matrix[0][j] , j!=0 => dimensions names
                {
                    var input = $('<input>').attr({ class: 'matrix_cell', id: i + '' + j,value: dimensions[j - 1]});
                    input[0].readOnly = true;
                    form.appendChild(input[0]);
                    continue;
                } 

                else if (j == 0 && i != 0) ////matrix[i][0] , i!=0 => dimensions names
                {
                    var input = $('<input>').attr({class: 'matrix_cell',id: i + '' + j,value: dimensions[i - 1]});
                    input[0].readOnly = true;
                    form.appendChild(input[0]);
                    continue;
                }
                //for all rest i,j contains values of matrix 
                //Values are stored in a 1-d array refer to ith row jth col as (rows-1)*(i-1)+(j-1)
                var input = $('<input>').attr({class: 'matrix_cell',id: i + '' + j,value: entries[(rows-1)*(i-1)+(j-1)]});
                input[0].readOnly = true;
                form.appendChild(input[0]);
              }
            var br = $('<br>')[0];  //new line /n
            form.appendChild(br);
          }
            var br = $('<br>')[0];
            
            //create a container to hold date value
            dateDiv = document.createElement('div');
            datePara = document.createElement('p');
            //add date to a para and append it to container
            datePara.innerHTML = uploadDate;
            dateDiv.appendChild(datePara);
            //append container to body
            document.body.append(dateDiv);
            //append matrix to body
            document.body.append(form);
            //'\n'
            document.body.append(br);
        }
        
  </script>
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary" style="color:white !important">{{ user.email }}</p>
        </div>
        <div>
            {% for matrix in matrixArr %}
              <script type="text/javascript">
                  makeTable("{{matrix.dimNum}}","{{matrix.dimString}}","{{ matrix.entries }}","{{ matrix.uploadDate }}");
              </script>
            {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}