{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script>
  const sendRequest = (url, method, data) => {
    let request = new XMLHttpRequest();
    request.onreadystatechange = () => {
        if (request.readyState == 4 && request.status == 200) {
            //success response
            if(url == '/getImageForMapInProfile/')
            {
                console.log("Great!", "Image retrieved successfully!!", "success");
                // console.log(request.response);
                var w = window.open('about:blank');
                w.document.open();
                w.document.write(request.response);
                w.document.close();
            }
        }
    };
    //open request
    request.open(method, url, true);
    //send request
    request.send(JSON.stringify(data));
};

  /**
  * This function is used to display all tables entered by user previously
  * 
  * dimNum - number of dimensions in table
  * dimString - all dimensions separated by $
  * entries - entries in matrix separated by ' '
  * uploadDate - date of matrix upload (in UTC format)
  * 
  */
    // function displayImageForMatrix(date)
    // {

    // }
    function makeTable(dimNum,dimString,entry,uploadDate,output) 
    {
        let dimensions = dimString.split('$');
        let entries = entry.split(' ');
        let rows = Number(dimNum) + 1;
        let columns = Number(dimNum) + 1;
        let form = document.createElement("form");  //for each matrix , there is a new form

        for (let i = 0; i < rows; i++) 
        {
            for (let j = 0; j < columns; j++) 
            {
                if (i == 0 && j == 0)   //matrix[0][0] = "class"
                {
                    var input = $('<input>').attr({ class: 'matrix_cell', id: i + '' + j, value: 'Class'});
                    input[0].readOnly = true;
                    form.appendChild(input[0]);
                    continue;
                }

                if (i == 0 && j != 0)   //matrix[0][j] , j!=0 => dimensions names
                {
                    var input = $('<input>').attr({ class: 'matrix_cell', id: i + '' + j,value: dimensions[j - 1]});
                    input[0].readOnly = true;
                    form.appendChild(input[0]);
                    continue;
                } 

                else if (j == 0 && i != 0) ////matrix[i][0] , i!=0 => dimensions names
                {
                    var input = $('<input>').attr({class: 'matrix_cell',id: i + '' + j,value: dimensions[i - 1]});
                    input[0].readOnly = true;
                    form.appendChild(input[0]);
                    continue;
                }
                //for all rest i,j contains values of matrix 
                //Values are stored in a 1-d array refer to ith row jth col as (rows-1)*(i-1)+(j-1)
                var input = $('<input>').attr({class: 'matrix_cell',id: i + '' + j,value: entries[(rows-1)*(i-1)+(j-1)]});
                input[0].readOnly = true;
                form.appendChild(input[0]);
              }
            var br = $('<br>')[0];  //new line /n
            form.appendChild(br);
          }
            var br = $('<br>')[0];
            
            //create a container to hold date value
            var dateDiv = document.createElement('div');
            var datePara = document.createElement('p');
            datePara.classList.add('dates');
            

//===============================Image Links beside matrices=====================================
            // var imageButton = document.createElement('button');
            // imageButton.onclick = displayImageForMatrix(uploadDate);
            
            //add date to a para and append it to container
            datePara.innerHTML = uploadDate;

            dateDiv.appendChild(datePara);  
            //append container to body
            document.body.append(dateDiv);
            //append matrix to body
            document.body.append(form);
            console.log(output);
            //'\n'
            document.body.append(br);
        }
        
        // $(function() {
        //     $("#mapLink").on("click",function(e) {
        //       e.preventDefault(); // cancel the link itself
        //       console.log(data);
        //       $.post(this.href,JSON.stringify(data),function() {
        //         console.log('yayyy');
        //       });
        //     });
        // });
        data = {};
        function openMapForImage(url){
            // console.log('dasfghdsaSDF');
            console.log(url);
            data['url'] = url;
            data['latest'] = 0;
            console.log(data);
            sendRequest('/getImageForMapInProfile/','POST',data);
        }
          
  </script>
  <!-- <a href="{% url 'getImageForMapInProfile' %}" style="display:none;" id="mapLink">Map</a> -->
    <div class="content-section" style="margin-top: 10vh;">
      <div class="media">
        
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary" style="color:white !important">{{ user.email }}</p>
        </div>
        <!-- <div id="matricesEntries"> -->
            {% for matrix in matrixArr %}
                <script type="text/javascript">
                    makeTable("{{matrix.dimNum}}","{{matrix.dimString}}","{{ matrix.entries }}","{{ matrix.uploadDate }}","{{ matrix.output }}");
                          // document.body.append(im);
                </script>
                {% if matrix.output %}
                  <script type="text/javascript">
                      btn = document.createElement('button');
                      btn.onclick = function(){openMapForImage('{{ matrix.output.url }}')};
                      btn.innerHTML ="Click me";
                      document.body.append(btn);
                      console.log(btn);
                  </script>
                {% endif %}
            {% endfor %}
        <!-- </div> -->
      </div>
    </div>
  
{% endblock content %}