{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
      <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/flat_round/50/000000/home.png"/>
      <title>DSS AHP</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>      
   </head>
   <body onload="loaded();">

      <!-- Loader starts -->
         <div id="loader">
               <div class="ball"></div>
               <div class="ball"></div>
               <div class="ball"></div>
               <div class="ball"></div>
               <div class="ball"></div>
               <div class="ball"></div>
               <div class="ball"></div>
               <div class="ball"></div>
         </div>
      <!-- Loader ends -->
      
      <!-- ====================================  myModal  ===================================-->
            <div class="myModal" id="my-modal">
               <div class="myModal-overlay myModal-toggle"></div>
               <div class="myModal-wrapper myModal-transition">
                 <div class="myModal-header">
                   <button class="myModal-close myModal-toggle" style="pointer-events: none"></button>
                   <h2 class="myModal-heading">Select a value for each class among 1,2,3,4</h2> 
                 </div>
                 
                 <div class="myModal-body">
                   <div class="myModal-content">
                     <button class="myModal-toggle" id="submitRanges" onclick="toggleModal();">Submit</button>
                   </div>
                 </div>
               </div>
            </div>



      <header class="site-header">
         <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
               <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">DSS AHP</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                     <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                  </div>
                  <!-- Navbar Right Side -->
                  <div class="navbar-nav" style="float: right !important">
                     {% if user.is_authenticated %}
                     <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                     <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                     {% else %}
                     <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                     <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                     {% endif %}
                  </div>
               </div>
            </div>
         </nav>
      </header>

      <main role="main" class="container">

         <!-- First page after login -->
         <div id="paramDiv" style="position: absolute;top:35vh;left:40vw;display:block;"> 
            Number of Parameters: <input type="text" name="parameters" value="4" id="dimensionsValue">
            <a id="dimensionsBtn" onclick="displayDimensions();" class="special" >Enter Dimensions</a>
      
            <!-- =========================== Uncomment for upload image functionality=============================-->

            <!-- <form action="#" method="post" enctype="multipart/form-data" id="uploadImagesForm">
               {% csrf_token %}
               <input type="hidden" name="csrfmiddlewaretoken" value="AnynRIrC09OLH1eC1VFQRdCzFd1mGsRJz42MpX99uqZIJiFhUuTRzaEgPo8hA7Ec"> <label for="id_pic">Pic:</label><input type="file" name="pic" required="" id="id_pic" multiple> 
               <input type="submit" value="Upload" onclick="submitForm();"/>
            </form><hr> -->
      
         </div>

         <!--============================== Page after submitting number of dimensions================================ -->
         <div id="matrix" style="display:none;">
            <!-- =================================Final image comes here=================================== -->
               <a class="thumbnail" href="javascript:void(0)">
                  <img width="100px" height="66px" id="finalImg" style="display: none;"/>
               </a>

            <!-- =======================Container to hold matrix , created dynamically================= -->
            <div style="display: flex; flex-direction:column;">
               <form id="frm"></form>
               <div id="consistencyValueDiv"><p id="consistencyValue" style="color: white"></p></div>
            </div>
            <!--=================================Wizard to go step by step=================================  -->
            <div class="container">
                  <div class="col-md-4 col-12">
                    <div class="billing__main__content__step row">
                        <ul id="step-list">
                              <li class="option functionalityLinksLI active" for="participant-info" data-step="1">
                                    <a href="javascript:void(0)" onclick="initializeMatrix()" class="functionalityLinks">
                                        <span class="default"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
                                        <span class="done-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        <p>Enter values</p>
                                    </a>
                                </li>
                            <li class="option functionalityLinksLI" for="participant-info" data-step="2">
                                <a href="javascript:void(0)" onclick="calcSum()" class="functionalityLinks">
                                    <span class="default"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
                                    <span class="done-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <p>Calculate Column Sum</p>
                                </a>
                            </li>
                            <li class="option functionalityLinksLI" for="contact-info" data-step="3">
                                <a href="javascript:void(0)" onclick="normalizeMatrix()" class="functionalityLinks">
                                    <span class="default"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    <span class="done-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <p>Normalize Matrix</p>
                                </a>
                            </li>
                            <li class="option functionalityLinksLI" for="extra-info" data-step="4">
                                <a href="javascript:void(0)" class="functionalityLinks" onclick="criteriaWeights()">
                                    <span class="default"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
                                    <span class="done-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <p>
                                          Generate Criteria Weights
                                    </p>
                                </a>
                            </li>
                            <li class="option functionalityLinksLI" for="payment-info" data-step="5">
                                <a href="javascript:void(0)" onclick="checkConsistency()" class="functionalityLinks">
                                    <span class="default"><i class="fa fa-" aria-hidden="true"></i></span>
                                    <span class="done-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <p>Check Consistency</p>
                                </a>
                            </li>
                            <li class="option functionalityLinksLI" for="congratulations" data-step="6">
                                <a href="javascript:void(0)" onclick="saveMatrix();"  class="functionalityLinks">
                                    <span class="default"><i class="fa fa-save" aria-hidden="true"></i></span>
                                    <span class="done-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <p>Save Matrix</p>
                                </a>
                            </li>
                            <li class="option functionalityLinksLI" for="congratulations" data-step="7">
                                 <a href="javascript:void(0)" onclick="displayFinalImage();"  class="functionalityLinks">
                                     <span class="default"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></span>
                                     <span class="done-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                     <p>Display Final Image</p>
                                 </a>
                             </li>
                        </ul>
                    </div>
                  </div>
            </div>
            <!-- =================================Wizard ends here================================= -->
         </div>

         <div id='criteriaWeightsDiv' style="position: absolute;top:12vh;left:82vw;"></div>

         <!-- ================================= Importance table ================================= -->
         <div id="importanceTable" >
               <div class="table-title">
                     <h3 style="text-align: center;">Importance Table</h3>
                     </div>
                     <table class="table-fill">
                     <thead>
                     <tr>
                     <th class="text-left">Value</th>
                     <th class="text-left">Importance Level</th>
                     </tr>
                     </thead>
                     <tbody class="table-hover">
                     <tr>
                     <td class="text-left">1</td>
                     <td class="text-left">Equal Importance</td>
                     </tr>
                     <tr>
                     <td class="text-left">3</td>
                     <td class="text-left">Moderate Importance</td>
                     </tr>
                     <tr>
                     <td class="text-left">5</td>
                     <td class="text-left">Strong Importance</td>
                     </tr>
                     <tr>
                     <td class="text-left">7</td>
                     <td class="text-left">Very Strong Importance</td>
                     </tr>
                     <tr>
                     <td class="text-left">9</td>
                     <td class="text-left">Extreme Importance</td>
                     </tr>
                     <tr>
                        <td class="text-left">2,4,6,8</td>
                        <td class="text-left">Intermediate values</td>
                     </tr>
                     <tr>
                        <td class="text-left">1/3,1/5,1/7,1/9</td>
                        <td class="text-left">Values for inverse comparison</td>
                     </tr>
                     </tbody>
                     </table>                     
            </div>
            <!-- =================================Importance table ends here ================================= -->

            <div id="map">
            </div>               
            <a href="{% url 'getImageForMap' %}" target="_blank" style="display:none;" id="mapLink">Map</a>
      </main>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <script src="{% static 'blog/js/script.js' %}"></script>

      <script src="https://d3js.org/d3.v4.min.js"></script>
      <script src="https://npmcdn.com/leaflet@1.2.0/dist/leaflet.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.0/chroma.min.js"></script>
      <script src="https://npmcdn.com/geotiff@0.3.6/dist/geotiff.js"></script>
      <script src="https://ihcantabria.github.io/Leaflet.CanvasLayer.Field/dist/leaflet.canvaslayer.field.js"></script>
      
   </body>
</html>